.swipe-section {
    width: 100%;
    height: 100%;
    background-color: var(--primary-bg);
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
}

.swipe-section__navigation {
    width: 100%;
    height: 100%;
}

/* .swiper-pagination-bullet-active {
    background-color: lightgreen;

} */

.swiper-pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .6rem;
}

.swiper-pagination-bullet {
    height: .8rem;
    width: .8rem;
    opacity: 1;
    background-color: rgb(135, 135, 135);
}

.swiper-pagination-bullet-active {
    background-color: white;
    height: .8rem;
    width: .8rem;

}

/* .swiper-pagination {
    background-color: yellow;
} */

.swiper {
}

