.page-confirmation {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	max-width: 500px;
	background-image: linear-gradient(#231f42, #f56b9a);
}

.page-confirmation > .icons-section {
	background: none;
}
