:root {
  --primary-bg: #000000;
  --secondary-bg: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  background-color: #231F42;
  max-width: 500px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}